
.stats-container {
    max-width: 600px;
    margin: 60px auto;
    background: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
    text-align: center;
}

.stats-title {
    color: #2c3e50;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.stat-item {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #34495e;
}

.stat-value {
    color: #2980b9;
    font-weight: bold;
}

.stats-footer {
    margin-top: 40px;
    font-size: 0.9rem;
    color: #999;
}

.cpf-section {
    margin-top: 40px;
}

.cpf-form {
    display: none;
    margin-top: 20px;
}

.cpf-form input {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.cpf-form button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.cpf-form button:hover {
    background-color: #1f6394;
}

.resultado-individual {
    margin-top: 20px;
    color: #2d3436;
}

.mostrar-form-btn {
    background-color: #27ae60;
    border: none;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.mostrar-form-btn:hover {
    background-color: #219150;
}

.msg-error-form-estatisticas {
    margin-top: 20px;
    display: block; /* ou block */
    color: #7c4141;
    font-weight: bold;
    border-radius: 4px;
    font-size: 14px;
    opacity: 1;
    transform: translateY(-10px);
    transition: opacity 1s ease, transform 0.1s ease;
}

