body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
  
main {
    padding: 20px;
    display: block;
}
  
section {
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 8px;
}
  
  
.conteudo {
    transition: all 0.3s ease-in-out;
} 

a {
    color: black;
}

nav {
    background-image: linear-gradient(to right, rgba(224, 224, 66, 0.589), rgb(233, 233, 22), rgba(224, 224, 66, 0.589));
    opacity: 0.8;
    padding: 30px;
    height: 70px;
    width: 100%;

}

.container-fluid {
    
    margin-top: 10px;
}

#temas {
    cursor: pointer;
}

.nav-item {
    margin-right: 25px;
    margin-top: 20px;
}

.nav-link {
    color: black;
    font-style: Arial;
    font-size: 20px;
}

h1 {
    font-style: italic;
}

h2 {
    font-style: italic;
} 

h3 {
    font-style: italic;
}







